.profile-img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

p a{
    text-decoration: none;
    color: #d63384;
}

div.card.shadow-sm{
    height: 320px;
}

.return-home{
    color: #CF0A0A;
}
